.Marquee {
    background: linear-gradient(-135deg, #008ed9, #8b00db);
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    overflow: hidden;
}


#clients {
    background-image: url('./gal-bg.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#clients::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.Marquee-content2 {
    display: flex;
    animation: marquee2 10s linear infinite running;
}

.Marquee-content {
    display: flex;
    animation: marquee 10s linear infinite running;
}

.Marquee-content:hover {
    animation-play-state: paused;
}

.Marquee-tag {
    width: 400px;
    margin: 0 .5em;
    padding: .5em;
    background: rgba(255, 255, 255, .1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}

.Marquee-tag:hover {
    background: rgba(255, 255, 255, .5);
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-50%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translate(0);
    }
}