#segments {
    transition: ease-in-out 0.5s;
}


.main-hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap-reverse;
    /* display: none; */
}

.hero-btns {
    display: flex;
    flex-direction: column;
    animation: myAnim2 9s ease 0s 1 normal forwards;
}

@keyframes myAnim2 {
    
    0%,
    50% {
        opacity: 0;
        transform: translateY(50px);
    }
    
    60% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-btns button {
    -webkit-box-shadow: 0px 0px 13px 3px rgba(251, 246, 238, 0.67);
    -moz-box-shadow: 0px 0px 13px 3px rgba(251, 246, 238, 0.67);
    box-shadow: 0px 0px 13px 3px rgba(251, 246, 238, 0.67);
}


#soup-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    z-index: 9002;
    font-size: 64px;
}

.soup-title {
    font-size: 32px;
}

.soup-desc {
    font-size: 16px;
}

#soup-container {
    position: relative;
    overflow: hidden;
    /* Hide overflowing content */
    text-align: center;
    background-image: url('../india-republic-day-celebration-digital-art-with-flag.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 480px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(251, 246, 238, 0.805));
    filter: drop-shadow(0px 0px 10px rgba(251, 246, 238, 0.805));
}

#soup-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 30, 41, 0.719);
    /* Blue mask with 50% opacity */
}

#soup-container img {
    width: 400px;
    /* -webkit-filter: drop-shadow(12px 12px 7px rgb(251, 246, 238, 0.59)); */
    -webkit-filter: drop-shadow(0px 0px 10px rgba(251, 246, 238, 0.805));
    filter: drop-shadow(0px 0px 10px rgba(251, 246, 238, 0.805));
    /* z-index: 9003; */
    /* background-color: rgba(46, 234, 255, 0.9);
    -webkit-box-shadow: 0px 0px 105px 20px rgba(46, 234, 255, 0.9);
    -moz-box-shadow: 0px 0px 105px 20px rgba(46, 234, 255, 0.9);
    box-shadow: 0px 0px 105px 20px rgba(46, 234, 255, 0.9); */
    animation: myAnim 9s ease 0s 1 normal forwards;
}

@keyframes myAnim {

    0%,
    50% {
        opacity: 0;
        transform: scale(0.6);
    }

    60% {
        opacity: 1;
        transform: scale(1);
    }
}


.letters-wrap {
    position: absolute;
    overflow: hidden;
    display: inline-block;
}

.letters-wrap.mutable {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.letters-wrap.mutable .letter {
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.7s, top 0.7s, color 0.7s;
    color: #C1F2B0;
}

.letters-wrap.mutable .letter.active {
    color: #FBF6EE;
    z-index: 9001;
}

.letters-wrap.position-data {
    top: 50%;
    left: 50%;
    /* Uncomment for visualization/debug */
    opacity: 0.5;
    visibility: hidden;
    transform: translate(-50%, -50%);
}

.segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.letter {
    /* display: inline-block; */
}

button {
    z-index: 9001;
    position: relative;
}

@media only screen and (max-width: 500px) {
    #soup-container img {
        width: 80%;
    }
}

/* 
@media only screen and (max-width: 400px) {
    
} */